<app-blank>
    title="About"
    [navs]="navs">
    <app-section sectionTitle="About Page">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa voluptatum quasi fugiat repellendus reprehenderit debitis atque beatae delectus voluptatibus? Consequatur voluptatem possimus optio fuga dolorum maxime architecto odio provident sint?</p>
    </app-section>

    <app-section sectionTitle="About Page 2">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut qui error pariatur dolor quas dolorem, ratione fugiat, veritatis quo eius dolorum voluptatibus soluta consequuntur nulla ab, provident natus voluptatem impedit.
        Inventore totam cupiditate odio! Numquam earum cupiditate nesciunt tenetur officia beatae quaerat quidem autem quos ipsam rerum iste facere eligendi debitis dignissimos cum vel, aliquid soluta adipisci! Sunt, omnis natus!
        Dolore, magnam asperiores delectus quia optio eveniet voluptates molestias numquam pariatur accusantium perferendis exercitationem laborum, quisquam nesciunt. Ratione dolore officiis fuga odio. Suscipit consequatur ipsam dolore impedit sint. Quo, enim.
        Est, quas omnis obcaecati repellendus consectetur corporis magni nobis aliquam praesentium aut quia laudantium, laborum veniam deserunt! Distinctio dignissimos veniam culpa reiciendis! Ipsa, minima quia placeat nisi explicabo accusamus totam?
        Possimus asperiores perferendis et! Aspernatur tempora sint architecto laudantium officia cupiditate eligendi at, eius quaerat fugiat recusandae eaque ipsam dolorum a ullam, quod alias iste porro. Eligendi mollitia ea eum?</p>
    </app-section>
   
</app-blank>